<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BotBits" version="218.0.3" targetFramework="net45" />
  <package id="BotBits.ChatExtras" version="2.0.1" targetFramework="net45" />
  <package id="BotBits.Commands" version="2.0.1" targetFramework="net45" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="PlayerIOClient-Signed" version="3.2.484" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net45" />
</packages>